<h1>Lista de categorías</h1>

<table *ngIf="categories.length > 0">
  <thead>
  <th>Id</th>
  <th>Imagen</th>
  <th>Categoría</th>
  <th>Opciones</th>
  </thead>
  <tbody>
  <tr *ngFor="let category of categories">
    <td>{{category.id}}</td>
    <td><img class="imageCategory" [src]="'data:image/jpeg;base64,' + category.image"></td>
    <td>{{category.name}}</td>
    <a [routerLink]="['/categories',category.id,'items']" >
      <td><button id="btnNavToCategoryItems">Artículos</button></td>
    </a>
    <td><button id="btnEditCategory">Editar</button></td>
    <td><button id="btnDeleteCategory">Artículos</button></td>
  </tr>
  </tbody>
</table>


